* {
  margin: 0%;
  padding: 0%; }

::-webkit-scrollbar {
  width: 16px;
  height: 20px; }

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #FFF7B4, #FFD5AE);
  border-radius: 50px; }

::-webkit-scrollbar-track {
  background: #EBE1D4; }

::selection {
  background: #FFF7B4; }

p::selection {
  background: #FFD5AE;
  color: #000; }

body {
  margin-left: 6%;
  margin-right: 6%;
  background: linear-gradient(153.46deg, rgba(250, 207, 226, 0.17) 0%, rgba(245, 235, 138, 0.18) 100%); }

a {
  text-decoration: none; }

p {
  font-family: Reem Kufi;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #303030; }

h2 {
  font-family: Signika;
  font-size: 37px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
  color: #6E61FF; }

header {
  grid-area: header;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 153px;
  align-items: center; }
  header .navDesktop {
    display: flex;
    width: 40%; }
    header .navDesktop ul {
      padding: 0%;
      margin: 0%;
      display: flex;
      list-style: none;
      width: 100%;
      justify-content: space-between;
      align-items: center; }
      header .navDesktop ul li {
        display: flex;
        flex-direction: column;
        text-decoration-line: none;
        font-family: Reem Kufi;
        font-size: 18px;
        transition: all 0.5s;
        animation-timing-function: ease-in-out;
        animation-duration: 0.5s; }
        header .navDesktop ul li div {
          width: 0.1%;
          height: 6px;
          background-color: transparent;
          position: relative;
          z-index: 3;
          transition: all 0.5s;
          animation-timing-function: ease-in-out;
          animation-duration: 0.5s; }
        header .navDesktop ul li a {
          position: relative;
          z-index: 1;
          line-height: 20px;
          letter-spacing: 0.05em;
          padding: 6px 20px 6px 20px;
          color: #494949;
          transition: all 0.5s;
          animation-timing-function: ease-in-out;
          animation-duration: 0.5s; }
          header .navDesktop ul li a:focus {
            font-family: Reem Kufi;
            font-weight: 800;
            color: #494949; }
          header .navDesktop ul li a:active {
            color: #494949;
            font-weight: 800; }
        header .navDesktop ul li:hover a {
          background-color: white;
          animation-name: hoverNavDesktopContainer;
          animation-duration: 0.5s;
          box-shadow: 0px 8px 27px -8px rgba(0, 0, 0, 0.1); }

@keyframes hoverNavDesktopContainer {
  0% {
    transform: translate(0px, 0px);
    opacity: 1; }
  50% {
    transform: translate(0px, 5px); }
  100% {
    transform: translate(0px, 0px); } }
        header .navDesktop ul li:hover div {
          width: 100%;
          height: 6px;
          background-color: #E5E7B3;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          animation-name: hoverNavDesktop;
          animation-timing-function: cubic-bezier(0.91, -0.56, 0.37, 1.65);
          animation-duration: 0.5s; }

@keyframes hoverNavDesktop {
  0% {
    transform: scale(0.1);
    transform: translate(0px, -10px);
    opacity: 0; }
  100% { } }

footer {
  display: flex;
  grid-area: footer;
  justify-content: center;
  padding: 50px 0px 50px 0px;
  border-top: 2px solid #DFDBBD; }
  footer p {
    font-size: 14px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    color: #4e4e4e; }

.gridIndex {
  display: grid;
  align-content: flex-start;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 800px auto;
  grid-template-areas: "header header" "pixelartIndex infoIndex" "footer footer"; }
  .gridIndex .header {
    grid-area: header;
    width: 100%; }
  .gridIndex .pixelartIndex {
    display: flex;
    grid-area: pixelartIndex;
    justify-content: end;
    align-items: center; }
    .gridIndex .pixelartIndex .pixelartIndexPadre {
      position: relative; }
      .gridIndex .pixelartIndex .pixelartIndexPadre video {
        position: relative;
        mix-blend-mode: darken;
        height: 500px;
        animation-name: pixelartIndexVideo;
        animation-timing-function: cubic-bezier(0.69, 0.01, 0.33, 1.11);
        animation-duration: 2s; }

@keyframes pixelartIndexVideo {
  0% {
    left: 200px;
    opacity: 1; }
  25% {
    opacity: 1; }
  50% { }
  75% { }
  100% {
    left: 0px;
    opacity: 1; } }
      .gridIndex .pixelartIndex .pixelartIndexPadre .pixelartIndexRectangle {
        position: absolute;
        transform-origin: 0% 0%;
        animation-name: pixelartIndexRectangle;
        animation-timing-function: cubic-bezier(0.69, 0.01, 0.33, 1.11);
        animation-duration: 2s; }

@keyframes pixelartIndexRectangle {
  0% {
    transform: scale(0); }
  25% {
    opacity: 0; }
  50% { }
  75% { }
  100% {
    transform: scale(1);
    opacity: 1; } }
      .gridIndex .pixelartIndex .pixelartIndexPadre .pixelartIndexElementos1 {
        position: absolute;
        top: 120px;
        left: -140px;
        transform: scale(1);
        transform-origin: 0% 0%;
        animation-name: pixelartIndexElementos1;
        animation-timing-function: cubic-bezier(0.91, -0.56, 0.37, 1.65);
        animation-duration: 2.5s; }

@keyframes pixelartIndexElementos1 {
  0% {
    transform: scale(0.1);
    transform: translate(-50px, 0px);
    opacity: 0; }
  25% { }
  50% {
    transform: scale(0.1);
    transform: translate(-50px, 0px);
    opacity: 0; }
  75% { }
  100% { } }
      .gridIndex .pixelartIndex .pixelartIndexPadre .pixelartIndexElementos2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: -100px;
        left: 40px;
        transform: scale(1);
        transform-origin: 0% 0%; }
        .gridIndex .pixelartIndex .pixelartIndexPadre .pixelartIndexElementos2 .pixelartElementos2Rectangle {
          height: 6px;
          width: 100%;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          background-color: #6E61FF;
          animation-name: pixelartElementos2Rectangle;
          animation-timing-function: cubic-bezier(0.91, -0.56, 0.37, 1.65);
          animation-duration: 2s; }

@keyframes pixelartElementos2Rectangle {
  0% {
    transform: scale(0.1);
    transform: translate(0px, -20px);
    opacity: 0; }
  25% { }
  50% {
    transform: scale(0.1);
    transform: translate(0px, -20px);
    opacity: 0; }
  75% { }
  100% { } }
        .gridIndex .pixelartIndex .pixelartIndexPadre .pixelartIndexElementos2 .pixelArtIndexIconos {
          background-color: white;
          width: 416px;
          height: 55px;
          display: flex;
          animation-name: pixelArtIndexIconos;
          animation-timing-function: cubic-bezier(0.91, -0.56, 0.37, 1.65);
          animation-duration: 2s; }

@keyframes pixelArtIndexIconos {
  0% {
    transform: scale(0.1);
    transform: translate(0px, -20px);
    opacity: 0; }
  25% { }
  50% {
    transform: scale(0.1);
    transform: translate(0px, -20px);
    opacity: 0; }
  75% { }
  100% { } }
          .gridIndex .pixelartIndex .pixelartIndexPadre .pixelartIndexElementos2 .pixelArtIndexIconos .pixelArtIndexIconosList {
            position: absolute;
            top: 22px;
            left: 0px;
            width: 100%;
            display: flex;
            justify-content: space-around;
            animation-name: pixelArtIndexIconosList;
            animation-timing-function: cubic-bezier(0.91, -0.56, 0.37, 1.65);
            animation-duration: 2.5s; }

@keyframes pixelArtIndexIconosList {
  0% {
    transform: scale(0.1);
    transform: translate(0px, -20px);
    opacity: 0; }
  25% { }
  50% {
    transform: scale(0.1);
    transform: translate(0px, -20px);
    opacity: 0; }
  75% { }
  100% { } }
            .gridIndex .pixelartIndex .pixelartIndexPadre .pixelartIndexElementos2 .pixelArtIndexIconos .pixelArtIndexIconosList div {
              display: flex;
              align-items: center; }
              .gridIndex .pixelartIndex .pixelartIndexPadre .pixelartIndexElementos2 .pixelArtIndexIconos .pixelArtIndexIconosList div .IconsList1 {
                position: absolute;
                top: 2px;
                left: 20px;
                animation-name: IconsList1;
                animation-timing-function: cubic-bezier(0.91, -0.56, 0.37, 1.65);
                animation-duration: 2.4s; }

@keyframes IconsList1 {
  0% {
    transform: scale(0.1);
    transform: translate(0px, -20px);
    opacity: 0; }
  25% { }
  50% {
    transform: scale(0.1);
    transform: translate(0px, -20px);
    opacity: 0; }
  75% { }
  100% { } }
              .gridIndex .pixelartIndex .pixelartIndexPadre .pixelartIndexElementos2 .pixelArtIndexIconos .pixelArtIndexIconosList div .IconsList2 {
                position: absolute;
                top: 2px;
                left: 78px;
                animation-name: IconsList2;
                animation-timing-function: cubic-bezier(0.91, -0.56, 0.37, 1.65);
                animation-duration: 2.5s; }

@keyframes IconsList2 {
  0% {
    transform: scale(0.1);
    transform: translate(0px, -20px);
    opacity: 0; }
  25% { }
  50% {
    transform: scale(0.1);
    transform: translate(0px, -20px);
    opacity: 0; }
  75% { }
  100% { } }
              .gridIndex .pixelartIndex .pixelartIndexPadre .pixelartIndexElementos2 .pixelArtIndexIconos .pixelArtIndexIconosList div .IconsList3 {
                position: absolute;
                top: 2px;
                left: 128px;
                animation-name: IconsList3;
                animation-timing-function: cubic-bezier(0.91, -0.56, 0.37, 1.65);
                animation-duration: 2.6s; }

@keyframes IconsList3 {
  0% {
    transform: scale(0.1);
    transform: translate(0px, -20px);
    opacity: 0; }
  25% { }
  50% {
    transform: scale(0.1);
    transform: translate(0px, -20px);
    opacity: 0; }
  75% { }
  100% { } }
              .gridIndex .pixelartIndex .pixelartIndexPadre .pixelartIndexElementos2 .pixelArtIndexIconos .pixelArtIndexIconosList div .IconsList4 {
                position: absolute;
                top: 2px;
                left: 188px;
                animation-name: IconsList4;
                animation-timing-function: cubic-bezier(0.91, -0.56, 0.37, 1.65);
                animation-duration: 2.7s; }

@keyframes IconsList4 {
  0% {
    transform: scale(0.1);
    transform: translate(0px, -20px);
    opacity: 0; }
  25% { }
  50% {
    transform: scale(0.1);
    transform: translate(0px, -20px);
    opacity: 0; }
  75% { }
  100% { } }
              .gridIndex .pixelartIndex .pixelartIndexPadre .pixelartIndexElementos2 .pixelArtIndexIconos .pixelArtIndexIconosList div .IconsList5 {
                position: absolute;
                top: 2px;
                left: 253px;
                animation-name: IconsList5;
                animation-timing-function: cubic-bezier(0.91, -0.56, 0.37, 1.65);
                animation-duration: 2.8s; }

@keyframes IconsList5 {
  0% {
    transform: scale(0.1);
    transform: translate(0px, -20px);
    opacity: 0; }
  25% { }
  50% {
    transform: scale(0.1);
    transform: translate(0px, -20px);
    opacity: 0; }
  75% { }
  100% { } }
              .gridIndex .pixelartIndex .pixelartIndexPadre .pixelartIndexElementos2 .pixelArtIndexIconos .pixelArtIndexIconosList div .IconsList6 {
                position: absolute;
                top: 2px;
                left: 315px;
                animation-name: IconsList6;
                animation-timing-function: cubic-bezier(0.91, -0.56, 0.37, 1.65);
                animation-duration: 2.9s; }

@keyframes IconsList6 {
  0% {
    transform: scale(0.1);
    transform: translate(0px, -20px);
    opacity: 0; }
  25% { }
  50% {
    transform: scale(0.1);
    transform: translate(0px, -20px);
    opacity: 0; }
  75% { }
  100% { } }
              .gridIndex .pixelartIndex .pixelartIndexPadre .pixelartIndexElementos2 .pixelArtIndexIconos .pixelArtIndexIconosList div .IconsList7 {
                position: absolute;
                top: 2px;
                left: 375px;
                animation-name: IconsList7;
                animation-timing-function: cubic-bezier(0.91, -0.56, 0.37, 1.65);
                animation-duration: 3s; }

@keyframes IconsList7 {
  0% {
    transform: scale(0.1);
    transform: translate(0px, -20px);
    opacity: 0; }
  25% { }
  50% {
    transform: scale(0.1);
    transform: translate(0px, -20px);
    opacity: 0; }
  75% { }
  100% { } }
  .gridIndex .infoIndex {
    grid-area: infoIndex;
    padding-top: 150px;
    margin-left: 1rem;
    animation-name: infoIndex;
    animation-timing-function: cubic-bezier(0.69, 0.01, 0.33, 1.11);
    animation-duration: 2s; }

@keyframes infoIndex {
  0% {
    opacity: 0;
    transform: translate(-100px); }
  25% {
    opacity: 0; }
  50% { }
  75% { }
  100% { } }
    .gridIndex .infoIndex .infoIndexDesc {
      max-width: 554px; }
  .gridIndex footer {
    grid-area: footer; }
