*{
    margin: 0;
    padding: 0;
}
html {
	scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
    height: 20px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(
        to bottom,
        #FFF7B4,
        #FFD5AE
    );
    border-radius: 50px;
}
::-webkit-scrollbar-track{
    background: #EBE1D4;
}
::selection{
    background: #FFF7B4;
}
p::selection{
    background: #FFD5AE;
    color: #000;
}

body{
    margin-left: 6%;
    margin-right: 6%;
    background: linear-gradient(153.46deg, rgba(250, 207, 226, 0.17) 0%, rgba(245, 235, 138, 0.18) 100%);
}
a{
    text-decoration: none;
}
p{
    font-family: Reem Kufi;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #303030;
    margin: 0;
}
h2{
    font-family: Signika;
    font-size: 37px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    color: #6E61FF;
}
h3{
    font-family: 'Signika';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    color: #494949;
}
h4{
    font-family: Reem Kufi;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #303030;
    margin: 0;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;
    background: #FFFDEB;
}
.buttonBGw{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;
    background: white;
    box-shadow: 0px 0px 0px 0px #6E61FF00;
    transition: all 0.5s;
    animation-duration: 1s;
    &:hover{
        box-shadow: 6.197530746459961px 6.197530746459961px 0px 0px #6E61FF;
        transition: all 0.5s;
        animation-duration: 1s;
    }
}