header{
    position: sticky;
    top: 0px;
    z-index: 200;
    background: rgba(254, 248, 244, 0.95);
    backdrop-filter: blur(4px);
    grid-area: header;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 153px;
    align-items: center;
    .navDesktop{
        display: flex;
        ul{
            padding: 0%;
            margin: 0%;
            gap: 2rem;
            display: flex;
            list-style: none;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            li{
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column;
                text-decoration-line: none;
                font-family: 'Kanit', sans-serif;
                font-size: 18px;
                transition: all 0.5s;
                animation-timing-function: ease-in-out;
                animation-duration: 0.5s;
                div{
                    width: 0.1%;
                    height: 6px;
                    background-color: transparent;
                    position:relative; z-index:3;
                    transition: all 0.5s;
                    animation-timing-function: ease-in-out;
                    animation-duration: 0.5s;
                }
                a{
                    position:relative; z-index:1;
                    line-height: 20px;
                    letter-spacing: 0.05em;
                    padding: 6px 20px 6px 20px;
                    color: #494949;
                    transition: all 0.5s;
                    animation-timing-function: ease-in-out;
                    animation-duration: 0.5s;
                    &:focus{
                        font-family: 'Kanit', sans-serif;
                        font-weight: 800;
                        color: #494949;
                    }
                    &:active{
                        color: #494949;
                        font-weight: 800;
                    }
                }
                &:hover a{
                    background-color: white;
                    animation-name: hoverNavDesktopContainer;
                    animation-duration: 0.5s;
                    box-shadow: 0px 8px 27px -8px rgba(0,0,0,0.1);
                    @keyframes hoverNavDesktopContainer{
                        0%{
                            transform: translate(0px, 0px);
                            opacity: 1;
                        }
                        50%{
                            transform: translate(0px, 5px);
                        }
                        100%{
                            transform: translate(0px, 0px);
                        }
                    }
                }
                &:hover div{
                    width: 100%;
                    height: 6px;
                    background-color: #E5E7B3;
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                    animation-name: hoverNavDesktop;
                    animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                    animation-duration: 0.5s;
                    @keyframes hoverNavDesktop{
                        0%{
                            transform: scale(0.10);
                            transform: translate(0px, -10px);
                            opacity: 0;
                        }
                        100%{
                        }
                    }
                }
            }
        }
    }
    .logo-variant1{
        position: relative;
        margin: 0px 16px 0px 16px;
        .headerPipipotteLogo{
            position: absolute;
            top: 42px;
            left: -20px;
        }
    }
    .navMobile{
        overflow: hidden;
        position: absolute;
        top: 50px;
        right: 0px;
        .navMobileShower{
            border: red solid 2px;
        }
        .navMobilePill{
            display: flex;
            flex-direction: row-reverse;
            background-color: #6E61FF;
            width: 140px;
            height: 30px;
            padding-right: 10px;
            border-radius: 16px 16px 0px 0px;
            transition: all 0.5s;
            img{
                width: 20px;
            }
            .burgerAbrir{
                position: absolute;
                top: 5px;
                visibility: hidden;
                transform: scale(0);
                animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                transition: all 0.5s;
            }
            .burgerCerrar{
                position: absolute;
                top: 5px;
                animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                transition: all 0.5s;
            }
        }
        .ulMobile{
            padding: 0px;
            margin: 0px;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 280px;
            justify-content: space-around;
            text-align: center;
            list-style: none;
            border-width: 0px 4px 4px 4px;
            border-style: solid;
            border-color: #6E61FF;
            transform:translateY(0px);
            opacity: 1;
            animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
            transition: all 0.5s;
            pointer-events: all;
            li{
                width: 100%;
                font-family: 'kanit';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 18px;
                text-align: center;
                letter-spacing: 0.05em;
                a{
                    color: #494949;
                }
            }
        }
        #navMobileShower{
            display: none;
            flex-direction: row-reverse;
            &:checked{
                ~ .ulMobile {
                    height: 20px;
                    opacity: 0;
                    transform:translateY(-10px);
                    pointer-events: none;
                    animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                    transition: all 0.5s;
                }
                ~ .navMobilePill{
                    border-radius: 16px 16px 16px 16px;
                    .burgerAbrir{
                        visibility:visible ;
                        transform: scale(1);
                        animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                        transition: all 0.5s;
                    }
                    .burgerCerrar{
                        transform: scale(0);
                        animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                        transition: all 0.5s;
                    }
                }
            }
        }
    }
}