.gridIndex{
    display: grid;
    align-content: flex-start;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 800px auto 1200px 1000px 1000px auto;
    grid-template-areas: 
    "header header"
    "pixelartIndex infoIndex"
    "indexPortfolio indexPortfolio"
    "indexHabilidades indexHabilidades"
    "indexSobreMi indexSobreMi"
    "indexContacto indexContacto"
    "footer footer"
    ;
    .header{
        grid-area: header;
        width: 100%;
    }
    .pixelartIndex{
        display: flex;
        min-width: 650px;
        grid-area: pixelartIndex;
        justify-content: end;
        align-items: center;
        .pixelartIndexPadre{
            position: relative;
            video{
                position: relative;
                mix-blend-mode: darken;
                height: 500px;
                animation-name: pixelartIndexVideo;
                animation-timing-function: cubic-bezier(.69,.01,.33,1.11);
                animation-duration: 2s;
                @keyframes pixelartIndexVideo{
                    0%{
                        left: 200px;
                        opacity: 1;
                    }
                    25%{
                        opacity: 1;
                    }
                    50%{
                    }
                    75%{
                    }
                    100%{
                        left: 0px;
                        opacity: 1;
                    }
                }
            }
            .pixelartIndexRectangle{
                position: absolute;
                transform-origin: 0% 0%;
                animation-name: pixelartIndexRectangle;
                animation-timing-function: cubic-bezier(.69,.01,.33,1.11);
                animation-duration: 2s;
                @keyframes pixelartIndexRectangle{
                    0%{
                        transform: scale(0);
                    }
                    25%{
                        opacity: 0;
                    }
                    50%{
                    }
                    75%{
                    }
                    100%{
                        transform: scale(1);
                        opacity: 1;
                    }
                }
            }
            .pixelartIndexElementos1{
                position: absolute;
                top: 120px; left: -140px;
                transform: scale(1);
                transform-origin: 0% 0%;
                animation-name: pixelartIndexElementos1;
                animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                animation-duration: 2.5s;
                @keyframes pixelartIndexElementos1{
                    0%{
                        transform: scale(0.10);
                        transform: translate(-50px, 0px);
                        opacity: 0;
                    }
                    25%{
                    }
                    50%{
                        transform: scale(0.10);
                        transform: translate(-50px, 0px);
                        opacity: 0;
                    }
                    75%{
                    }
                    100%{
                    }
                }
            }
            .pixelartIndexElementos2{
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                top: -100px; left: 40px;
                transform: scale(1);
                transform-origin: 0% 0%;
                .pixelartElementos2Rectangle{
                    height: 6px;
                    width: 100%;
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                    background-color: #6E61FF;
                    animation-name: pixelartElementos2Rectangle;
                    animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                    animation-duration: 2s;
                    @keyframes pixelartElementos2Rectangle{
                        0%{
                            transform: scale(0.10);
                            transform: translate(0px, -20px);
                            opacity: 0;
                        }
                        25%{
                        }
                        50%{
                            transform: scale(0.10);
                            transform: translate(0px, -20px);
                            opacity: 0;
                        }
                        75%{
                        }
                        100%{
                        }
                    }
                }
                .pixelArtIndexIconos{
                    background-color: white;
                    width: 416px;
                    height: 55px;
                    display: flex;
                    animation-name: pixelArtIndexIconos;
                    animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                    animation-duration: 2s;
                    @keyframes pixelArtIndexIconos{
                        0%{
                            transform: scale(0.10);
                            transform: translate(0px, -20px);
                            opacity: 0;
                        }
                        25%{
                        }
                        50%{
                            transform: scale(0.10);
                            transform: translate(0px, -20px);
                            opacity: 0;
                        }
                        75%{
                        }
                        100%{
                        }
                    }
                    .pixelArtIndexIconosList{
                        position: absolute;
                        top: 22px; left: 0px;
                        width: 100%;
                        display: flex;
                        justify-content:space-around;
                        animation-name: pixelArtIndexIconosList;
                        animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                        animation-duration: 2.5s;
                        @keyframes pixelArtIndexIconosList{
                            0%{
                                transform: scale(0.10);
                                transform: translate(0px, -20px);
                                opacity: 0;
                            }
                            25%{
                            }
                            50%{
                                transform: scale(0.10);
                                transform: translate(0px, -20px);
                                opacity: 0;
                            }
                            75%{
                            }
                            100%{
                            }
                        }
                        div{
                            display: flex;
                            align-items: center;
                            .IconsList1{
                                position: absolute;
                                top: 0px; left: 18px;
                                animation-name: IconsList1;
                                animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                                animation-duration: 2.4s;
                                @keyframes IconsList1{
                                    0%{
                                        transform: scale(0.10);
                                        transform: translate(0px, -20px);
                                        opacity: 0;
                                    }
                                    25%{
                                    }
                                    50%{
                                        transform: scale(0.10);
                                        transform: translate(0px, -20px);
                                        opacity: 0;
                                    }
                                    75%{
                                    }
                                    100%{
                                    }
                                }
                            }
                            .IconsList2{
                                position: absolute;
                                top: 0px; left: 74px;
                                animation-name: IconsList2;
                                animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                                animation-duration: 2.5s;
                                @keyframes IconsList2{
                                    0%{
                                        transform: scale(0.10);
                                        transform: translate(0px, -20px);
                                        opacity: 0;
                                    }
                                    25%{
                                    }
                                    50%{
                                        transform: scale(0.10);
                                        transform: translate(0px, -20px);
                                        opacity: 0;
                                    }
                                    75%{
                                    }
                                    100%{
                                    }
                                }
                            }
                            .IconsList3{
                                position: absolute;
                                top: 0px; left: 124px;
                                animation-name: IconsList3;
                                animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                                animation-duration: 2.6s;
                                @keyframes IconsList3{
                                    0%{
                                        transform: scale(0.10);
                                        transform: translate(0px, -20px);
                                        opacity: 0;
                                    }
                                    25%{
                                    }
                                    50%{
                                        transform: scale(0.10);
                                        transform: translate(0px, -20px);
                                        opacity: 0;
                                    }
                                    75%{
                                    }
                                    100%{
                                    }
                                }
                            }
                            .IconsList4{
                                position: absolute;
                                top: 0px; left: 184px;
                                animation-name: IconsList4;
                                animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                                animation-duration: 2.7s;
                                @keyframes IconsList4{
                                    0%{
                                        transform: scale(0.10);
                                        transform: translate(0px, -20px);
                                        opacity: 0;
                                    }
                                    25%{
                                    }
                                    50%{
                                        transform: scale(0.10);
                                        transform: translate(0px, -20px);
                                        opacity: 0;
                                    }
                                    75%{
                                    }
                                    100%{
                                    }
                                }
                            }
                            .IconsList5{
                                position: absolute;
                                top: 0px; left: 251px;
                                animation-name: IconsList5;
                                animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                                animation-duration: 2.8s;
                                @keyframes IconsList5{
                                    0%{
                                        transform: scale(0.10);
                                        transform: translate(0px, -20px);
                                        opacity: 0;
                                    }
                                    25%{
                                    }
                                    50%{
                                        transform: scale(0.10);
                                        transform: translate(0px, -20px);
                                        opacity: 0;
                                    }
                                    75%{
                                    }
                                    100%{
                                    }
                                }
                            }
                            .IconsList6{
                                position: absolute;
                                top: 0px; left: 313px;
                                animation-name: IconsList6;
                                animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                                animation-duration: 2.9s;
                                @keyframes IconsList6{
                                    0%{
                                        transform: scale(0.10);
                                        transform: translate(0px, -20px);
                                        opacity: 0;
                                    }
                                    25%{
                                    }
                                    50%{
                                        transform: scale(0.10);
                                        transform: translate(0px, -20px);
                                        opacity: 0;
                                    }
                                    75%{
                                    }
                                    100%{
                                    }
                                }
                            }
                            .IconsList7{
                                position: absolute;
                                top: 0px; left: 373px;
                                animation-name: IconsList7;
                                animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                                animation-duration: 3s;
                                @keyframes IconsList7{
                                    0%{
                                        transform: scale(0.10);
                                        transform: translate(0px, -20px);
                                        opacity: 0;
                                    }
                                    25%{
                                    }
                                    50%{
                                        transform: scale(0.10);
                                        transform: translate(0px, -20px);
                                        opacity: 0;
                                    }
                                    75%{
                                    }
                                    100%{
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .infoIndex{
        grid-area: infoIndex;
        padding-top: 150px;
        margin-left: 1rem;
        animation-timing-function: cubic-bezier(.69,.01,.33,1.11);
        animation-duration: 2s;
        animation-name: infoIndex;
        @keyframes infoIndex{
            0%{
                opacity: 0;
                transform: translate(-100px);
            }
            25%{
                opacity: 0;
            }
            50%{
            }
            75%{
            }
            100%{
            }
        }
        .infoIndexHola{
            font-size: 30px;
            font-weight: 600;
            line-height: 30px;
            letter-spacing: 0.05em;
            color: #494949;
            margin-bottom: 20px;
        }
        .infoIndexDesc{
            margin: 6px 0px 12px 0px;
            max-width: 576px;
            min-width: 330px;
        }
        .infoIndexDesc2{
            margin: 6px 0px 6px 0px;
            max-width: 292px;
            min-width: 200px;
        }
        .infoIndexLogo{
            pointer-events: none;
            position: relative;
            .infoIndexLogoJoaquin{
                z-index: 7;
                position: relative;
                translate: -40px;
                width: fit-content;
            }
            .infoIndexLogoAviles{
                z-index: 9;
                position: relative;
                translate: 18px -10px;
                width: fit-content;
            }
            .infoIndexLogoPipipotte{
                z-index: 8;
                position: absolute;
                top: 50px;
                left: -85px;
                width: fit-content;
            }
        }
    }
    .indexPortfolio{
        grid-area: indexPortfolio;
        margin-top: 102px;
        margin-bottom: 90px;
        .indexPortfolioTittle{
            height: fit-content;
            display: flex;
            align-items: center;
            margin-bottom: 90px;
            gap: 10px;
            height: 204px;
            pointer-events: none;
            .indexPortfolioTittleTrabajos{
                position: absolute;
            }
            .indexPortfolioTittleBG{
                position: absolute;
                left: 0px;
                width: 100%;
                height: 204px;
                background-color: #F8F1EC;
            }
        }
        .indexPortfolioPrimerFila{
            display: flex;
            width: 100%;
            justify-content: center;
            gap: 90px;
            margin: 50px 0px 50px 0px;
            .portfolioCard{
                height: fit-content;
                max-width: 552px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: white;
                box-shadow: 14px 11px 0px 0px #6E61FF;
                font-size: 18px;
                .portfolioCardImages{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 40px 0px 0px 0px;
                    gap: 10px;
                    width: 100%;
                    height: fit-content;
                    background: #FFFFFF;
                    border-width: 3px 3px 0px 3px;
                    border-style: solid;
                    border-color: #6E61FF;
                    #carouselIndexHeracles{
                        width: 400px;
                    }
                    #carouselIndexOnix{
                        width: 400px;
                    }
                }
                .portfolioCardBox{
                    display: flex;
                    flex-direction: column-reverse;
                    width: 100%;
                    padding: 20px 40px 20px 40px;
                    border-width: 0px 3px 3px 3px;
                    border-style: solid;
                    border-color: #6E61FF;
                    .portfolioCardDesc{
                        z-index: 3;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        gap: 10px;
                        width: 100%;
                        height: 100%;
                        background: #FFFFFF;
                        overflow: hidden;
                        .portfolioCardDescAtributos{
                            opacity: 0;
                            height: 0px;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            padding: 0px;
                            gap: 8px;
                            transition: all 0.5s;
                            animation-duration: 1s;
                            .portfolioCardDescAtributos1{
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                padding: 4px 10px;
                                gap: 10px;
                                background: #FFFDEB;
                            }
                            .portfolioCardDescAtributos2{
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                padding: 6px 10px;
                                gap: 10px;
                                background: #FFFDEB;
                            }
                        }
                        .portfolioCardDescParrafo{
                            p{
                                opacity: 0;
                                height: 0px;
                                transition: all 0.5s;
                                animation-duration: 1s;
                            }
                        }
                    }
                    /****************** BOTONES INDEX PORTFOLIO ******************/
                    .portfolioCardButton{
                        z-index: 4;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 16px;
                        background: #FFFFFF;
                        /******* HERACLES antes del check *******/
                        #btnCardHeraclesAmpliar{
                            transform: translateY(-6px);
                        }
                        #btnCardHeraclesReducir{
                            display: none;
                        }
                        #btnCardHeraclesLeer{
                            display: none;
                        }
                        /******* ONIX antes del check *******/
                        #btnCardOnixAmpliar{
                            transform: translateY(-6px);
                        }
                        #btnCardOnixReducir{
                            display: none;
                        }
                        #btnCardOnixLeer{
                            display: none;
                        }
                    }
                    /******* HERACLES despues del check *******/
                    #btnCardHeracles{
                        display: none;
                        &:checked{
                            ~ .portfolioCardDesc {
                                opacity: 1;
                                transition: all 0.5s;
                                animation-duration: 2s;
                                .portfolioCardDescAtributos{
                                    opacity: 1;
                                    height: 90px;
                                }
                                .portfolioCardDescParrafo{
                                    p{
                                        opacity: 1;
                                        height: 150px;
                                    }
                                }
                            }
                            .button.ampliar{
                                background-color: #6E61FF;
                            }
                            ~ .portfolioCardButton {
                                #btnCardHeraclesAmpliar{
                                    display: none;
                                }
                                #btnCardHeraclesReducir{
                                    display: flex;
                                }
                                #btnCardHeraclesLeer{
                                    display: flex;
                                }
                            }
                        }
                    }
                    /******* ONIX despues del check *******/
                    #btnCardOnix{
                        display: none;
                        &:checked{
                            ~ .portfolioCardDesc {
                                opacity: 1;
                                transition: all 0.5s;
                                animation-duration: 2s;
                                .portfolioCardDescAtributos{
                                    opacity: 1;
                                    height: 90px;
                                }
                                .portfolioCardDescParrafo{
                                    p{
                                        opacity: 1;
                                        height: 150px;
                                    }
                                }
                            }
                            .button.ampliar{
                                background-color: #6E61FF;
                            }
                            ~ .portfolioCardButton {
                                #btnCardOnixAmpliar{
                                    display: none;
                                }
                                #btnCardOnixReducir{
                                    display: flex;
                                }
                                #btnCardOnixLeer{
                                    display: flex;
                                }
                            }
                        }
                    }
                }
                .portfolioCardSliders{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px 10px;
                    gap: 10px;
                    width: 100%;
                    height: 56px;
                    background: #FFFFFF;
                    border-width: 0px 3px 3px 3px;
                    border-style: solid;
                    border-color: #6E61FF;
                    button{
                        position: static;
                        opacity: 1;
                    }
                }
            }
        }
        .indexPortfolioMasTrabajos{
            margin-top: 120px;
            display: flex;
            justify-content: center;
            .buttonBGw{
                pad: 50px, 0px, 50px, 0px;
                p{
                    font-size: 24px;
                    line-height: 24px;
                }
            }
        }
    }
    .indexHabilidades{
        grid-area: indexHabilidades;
        padding: 50px 0px;
        .indexHabilidadesTittle{
            display: flex;
            align-items: center;
            gap: 10px;
            height: 204px;
            pointer-events: none;
            .indexHabilidadesTittleKit{
                position: absolute;
            }
            .indexHabilidadesTittleBG{
                position: absolute;
                left: 0px;
                width: 100%;
                height: 204px;
                background-color: #F8F1EC;
            }
        }
        .indexHabilidadesDesc{
            height: auto;
            margin: 80px 0px 80px 0px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            .indexHabilidadesDescGrid{
                margin: 20px 0px 20px 0px;
                width: 90%;
                display: grid;
                justify-content: center;
                gap: 2rem 6rem;
                grid-template-columns: 286px 286px 286px;
                grid-template-rows: 142px 142px;
                grid-template-areas: 
                "branding uxui motionsgraphics"
                "frontend fotografia modelado3d"
                ;
                .indexHabilidadesDescContainer{
                    display: flex;
                    flex-direction: column;
                }
                .containerBranding{
                    grid-area: branding;
                }
                .containerUxui{
                    grid-area: uxui;
                }
                .containerMotionsgraphics{
                    grid-area: motionsgraphics;
                }
                .containerFrontend{
                    grid-area: frontend;
                }
                .containerFotografia{
                    grid-area: fotografia;
                }
                .containerModelado3d{
                    grid-area: modelado3d;
                }
            }
        }
        .indexHabilidadesRecursos{
            div{
                padding: 10px 10px;
                display: flex;
                justify-content: center;
                div{
                    padding: 10px 50px;
                    display: flex;
                    flex-direction: column-reverse;
                    text-align: center;
                    overflow: hidden;
                    img{
                        width: 72px;
                        height: 72px;
                    }
                }
                h4{
                    transform: translateY(16px);
                    opacity: 0;
                    animation-timing-function: cubic-bezier(.58,-0.27,.48,1.21);
                    -webkit-transition: .5s all;   
                    -webkit-transition-delay: .5s; 
                    -moz-transition: .5s all;   
                    -moz-transition-delay: .5s; 
                    -ms-transition: .5s all;   
                    -ms-transition-delay: .5s; 
                    -o-transition: .5s all;   
                    -o-transition-delay: .5s; 
                    transition: .5s all;   
                    transition-delay: .5s; 
                }
                .iconSkills{
                    background: #FFFDEB;
                    box-shadow: 0px 0px 0px 0px #6E61FF00;
                    -webkit-transition: .5s all;   
                    -webkit-transition-delay: .5s; 
                    -moz-transition: .5s all;   
                    -moz-transition-delay: .5s; 
                    -ms-transition: .5s all;   
                    -ms-transition-delay: .5s; 
                    -o-transition: .5s all;   
                    -o-transition-delay: .5s; 
                    transition: .5s all;   
                    transition-delay: .5s; 
                    &:hover{
                        -webkit-transition-delay: 0s;
                        -moz-transition-delay: 0s;
                        -ms-transition-delay: 0s;
                        -o-transition-delay: 0s;
                        transition-delay: 0s;
                        box-shadow: 5.93797px 5.93797px 0px #6E61FF;
                        &~h4{
                            -webkit-transition-delay: 0s;
                            -moz-transition-delay: 0s;
                            -ms-transition-delay: 0s;
                            -o-transition-delay: 0s;
                            transition-delay: 0s;
                            opacity: 1;
                            transform: translateY(-8px);
                        }
                    }
                }
            }
        }
    }
    .indexSobreMi{
        grid-area: indexSobreMi;
        padding: 50px 0px;
        .indexSobreMiTittle{
            display: flex;
            align-items: center;
            gap: 10px;
            height: 204px;
            pointer-events: none;
            margin-bottom: 90px;
            .indexSobreMiTittleMi{
                position: absolute;
            }
            .indexSobreMiTittleBG{
                position: absolute;
                left: 0px;
                width: 100%;
                height: 204px;
                background-color: #F8F1EC;
            }
        }
        .indexSobreMiRow{
            display: grid;
            align-content: center;
            grid-template-columns: 376px auto auto;
            grid-template-rows: 100%;
            grid-template-areas: 
            "indexSobreMiRowColFoto indexSobreMiRowColDesc indexSobreMiRowColExtras"
            ;
            justify-content: center;
            gap: 3rem;
            margin-top: 50px;
            .indexSobreMiRowColFoto{
                grid-area: indexSobreMiRowColFoto;
                display: flex;
                flex-direction: column;
                gap: 10px;
                .indexSobreMiRowColRedes{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    gap: 16px;
                    a{
                        transition: all 0.5s;
                        animation-duration: 1s;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
            }
            .indexSobreMiRowColDesc{
                grid-area: indexSobreMiRowColDesc;
                max-width: 420px;
            }
            .indexSobreMiRowColExtras{
                grid-area: indexSobreMiRowColExtras;
                max-width: 350px;
                min-width: 250px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                .indexSobreMiRowColExtrasDiv{
                    display: flex;
                    flex-direction: column;
                    gap: 6px;
                }
            }
        }
    }
    .indexContacto{
        grid-area: indexContacto;
        padding: 50px 0px;
        .indexContactoTittle{
            display: flex;
            align-items: center;
            gap: 10px;
            height: 204px;
            pointer-events: none;
            margin-bottom: 20px;
            .indexContactoTittleContacto{
                position: absolute;
            }
            .indexContactoTittleBG{
                position: absolute;
                left: 0px;
                width: 100%;
                height: 204px;
                background-color: #F8F1EC;
            }
        }
        .indexContactoForm{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .indexContactoContainer{
                display: flex;
                justify-content: center;
                position: absolute;
                top: 100px;
                margin-left: auto; 
                margin-right: auto; 
                width: 100%;
            }
            .indexContactoFormInputContainer{
                display: flex;
                justify-content: center;
                position: absolute;
                top: 150px;
                margin-left: auto; 
                margin-right: auto; 
                width: 100%;
                .indexContactoFormInputs{
                    width: 520px;
                    form{
                        display: flex;
                        flex-direction: column;
                        gap: 32px;
                        .indexContactoFormInputsNombre{
                            display: flex;
                            flex-direction: column;
                            input{
                                background-color: #FFFDEB;
                                border: 0px;
                                width: 100%;
                                height: 36px;
                                box-shadow: 0px 0px 0px 0px #6E61FF00;
                                transition: all 0.5s;
                                animation-duration: 1s;
                                padding: 0px 10px;
                                font-family: Karla;
                                font-size: 18px;
                                font-weight: 400;
                                line-height: 24px;
                                &:valid:focus{
                                    background-color: #FFFDEB;
                                    ~.indexContactoFormSpan{
                                        .indexContactoFormSpanValid{
                                            background: linear-gradient(90deg, rgba(64,227,159,1) 75%, rgba(110,97,255,1) 100%);
                                            width: 100%;
                                            opacity: 0;
                                            animation-timing-function: ease-in-out;
                                            transition: all 0.5s;
                                            animation-duration: 1s;
                                            animation-name: formSpanValid;
                                            @keyframes formSpanValid{
                                                0%{
                                                    opacity: 1;
                                                }
                                                75%{
                                                    opacity: 0;
                                                }
                                                
                                                100%{
                                                    opacity: 0;
                                                }
                                            }
                                        }
                                        .indexContactoFormSpanValidSolid{
                                            width: 100%;
                                            opacity: 1;
                                            animation-timing-function: ease-in-out;
                                            transition: all 0.5s;
                                            animation-duration: 1s;
                                            animation-name: formSpanValidSolid;
                                            @keyframes formSpanValidSolid{
                                                0%{
                                                    opacity: 0;
                                                }
                                                75%{
                                                    opacity: 1;
                                                }
                                                
                                                100%{
                                                    opacity: 1;
                                                }
                                            }
                                        }
                                    }
                                }
                                &:focus{
                                    outline: none;
                                    ~.indexContactoFormSpan{
                                        .indexContactoFormSpanFocus{
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                            .indexContactoFormSpan{
                                position: relative;
                                .indexContactoFormSpanFocus{
                                    position: absolute;
                                    background-color: #6E61FF;
                                    height: 5px;
                                    width: 0%;
                                    transition: all 0.5s;
                                    animation-duration: 1s;
                                }
                                .indexContactoFormSpanValid{
                                    position: absolute;
                                    background: linear-gradient(90deg, rgba(64,227,159,1) 75%, rgba(110,97,255,1) 100%);
                                    height: 5px;
                                    width: 0%;
                                    transition: all 0.5s;
                                    animation-duration: 1s;
                                }
                                .indexContactoFormSpanValidSolid{
                                    position: absolute;
                                    background: #40E39F;
                                    height: 5px;
                                    width: 0%;
                                    opacity: 0;
                                    transition: all 0.5s;
                                    animation-duration: 1s;
                                }
                            }
                        }
                        .indexContactoFormInputsEmail{
                            display: flex;
                            flex-direction: column;
                            input{
                                background-color: #FFFDEB;
                                border: 0px;
                                width: 100%;
                                height: 36px;
                                box-shadow: 0px 0px 0px 0px #6E61FF00;
                                transition: all 0.5s;
                                animation-duration: 1s;
                                padding: 0px 10px;
                                font-family: Karla;
                                font-size: 18px;
                                font-weight: 400;
                                line-height: 24px;
                                &:valid:focus{
                                    background-color: #FFFDEB;
                                    ~.indexContactoFormSpan{
                                        .indexContactoFormSpanValid{
                                            background: linear-gradient(90deg, rgba(64,227,159,1) 75%, rgba(110,97,255,1) 100%);
                                            width: 100%;
                                            opacity: 0;
                                            animation-timing-function: ease-in-out;
                                            transition: all 0.5s;
                                            animation-duration: 1s;
                                            animation-name: formSpanValid;
                                            @keyframes formSpanValid{
                                                0%{
                                                    opacity: 1;
                                                }
                                                75%{
                                                    opacity: 0;
                                                }
                                                
                                                100%{
                                                    opacity: 0;
                                                }
                                            }
                                        }
                                        .indexContactoFormSpanValidSolid{
                                            width: 100%;
                                            opacity: 1;
                                            animation-timing-function: ease-in-out;
                                            transition: all 0.5s;
                                            animation-duration: 1s;
                                            animation-name: formSpanValidSolid;
                                            @keyframes formSpanValidSolid{
                                                0%{
                                                    opacity: 0;
                                                }
                                                75%{
                                                    opacity: 1;
                                                }
                                                
                                                100%{
                                                    opacity: 1;
                                                }
                                            }
                                        }
                                    }
                                }
                                &:focus{
                                    outline: none;
                                    ~.indexContactoFormSpan{
                                        .indexContactoFormSpanFocus{
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                            .indexContactoFormSpan{
                                position: relative;
                                .indexContactoFormSpanFocus{
                                    position: absolute;
                                    background-color: #6E61FF;
                                    height: 5px;
                                    width: 0%;
                                    transition: all 0.5s;
                                    animation-duration: 1s;
                                }
                                .indexContactoFormSpanValid{
                                    position: absolute;
                                    background: linear-gradient(90deg, rgba(64,227,159,1) 75%, rgba(110,97,255,1) 100%);
                                    height: 5px;
                                    width: 0%;
                                    transition: all 0.5s;
                                    animation-duration: 1s;
                                }
                                .indexContactoFormSpanValidSolid{
                                    position: absolute;
                                    background: #40E39F;
                                    height: 5px;
                                    width: 0%;
                                    opacity: 0;
                                    transition: all 0.5s;
                                    animation-duration: 1s;
                                }
                            }
                        }
                        .indexContactoFormInputsDesc{
                            display: flex;
                            flex-direction: column;
                            textarea{
                                background-color: #FFFDEB;
                                border: 0px;
                                width: 100%;
                                height: 100px;
                                resize: none;
                                box-shadow: 0px 0px 0px 0px #6E61FF00;
                                transition: all 0.5s;
                                animation-duration: 1s;
                                padding: 10px;
                                font-family: Karla;
                                font-size: 18px;
                                font-weight: 400;
                                line-height: 24px;
                                &:valid:focus{
                                    background-color: #FFFDEB;
                                    ~.indexContactoFormSpan{
                                        .indexContactoFormSpanValid{
                                            background: linear-gradient(90deg, rgba(64,227,159,1) 75%, rgba(110,97,255,1) 100%);
                                            width: 100%;
                                            opacity: 0;
                                            animation-timing-function: ease-in-out;
                                            transition: all 0.5s;
                                            animation-duration: 1s;
                                            animation-name: formSpanValid;
                                            @keyframes formSpanValid{
                                                0%{
                                                    opacity: 1;
                                                }
                                                75%{
                                                    opacity: 0;
                                                }
                                                
                                                100%{
                                                    opacity: 0;
                                                }
                                            }
                                        }
                                        .indexContactoFormSpanValidSolid{
                                            width: 100%;
                                            opacity: 1;
                                            animation-timing-function: ease-in-out;
                                            transition: all 0.5s;
                                            animation-duration: 1s;
                                            animation-name: formSpanValidSolid;
                                            @keyframes formSpanValidSolid{
                                                0%{
                                                    opacity: 0;
                                                }
                                                75%{
                                                    opacity: 1;
                                                }
                                                
                                                100%{
                                                    opacity: 1;
                                                }
                                            }
                                        }
                                    }
                                }
                                &:focus{
                                    outline: none;
                                    ~.indexContactoFormSpan{
                                        .indexContactoFormSpanFocus{
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                            .indexContactoFormSpan{
                                position: relative;
                                .indexContactoFormSpanFocus{
                                    position: absolute;
                                    background-color: #6E61FF;
                                    height: 5px;
                                    width: 0%;
                                    transition: all 0.5s;
                                    animation-duration: 1s;
                                }
                                .indexContactoFormSpanValid{
                                    position: absolute;
                                    background: linear-gradient(90deg, rgba(64,227,159,1) 75%, rgba(110,97,255,1) 100%);
                                    height: 5px;
                                    width: 0%;
                                    transition: all 0.5s;
                                    animation-duration: 1s;
                                }
                                .indexContactoFormSpanValidSolid{
                                    position: absolute;
                                    background: #40E39F;
                                    height: 5px;
                                    width: 0%;
                                    opacity: 0;
                                    transition: all 0.5s;
                                    animation-duration: 1s;
                                }
                            }
                        }
                    }
                    .indexContactoFormInputsBtn{
                        margin-top: 50px;
                        display: flex;
                        justify-content: center;
                        .buttonBGw{
                            border-color: transparent;
                        }
                    }
                }
            }
            
        }
    }
    footer{
        grid-area: footer;
    }
    
}