.gridIndex{
    display: grid;
    align-content: flex-start;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 800px auto;
    grid-template-areas: 
    "header header"
    "pixelartIndex infoIndex"
    "footer footer"
    ;
    .header{
        grid-area: header;
        width: 100%;
    }
    .pixelartIndex{
        display: flex;
        grid-area: pixelartIndex;
        justify-content: end;
        align-items: center;
        .pixelartIndexPadre{
            position: relative;
            video{
                mix-blend-mode: darken;
                height: 500px;
            }
            .pixelartIndexRectangle{
                position: absolute;
                transform: scale(1);
                transform-origin: 0% 0%;
            }
            .pixelartIndexElementos1{
                position: absolute;
                top: 120px; left: -140px;
                transform: scale(1);
                transform-origin: 0% 0%;
            }
            .pixelartIndexElementos2{
                position: absolute;
                top: -100px; left: 40px;
                transform: scale(1);
                transform-origin: 0% 0%;
            }
        }
    }
    .infoIndex{
        grid-area: infoIndex;
        padding-top: 150px;
        margin-left: 1rem;
        .infoIndexDesc{
            max-width: 554px;
        }
    }
    footer{
        grid-area: footer;
    }
}