.gridIndex{
    display: grid;
    align-content: flex-start;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 800px 1200px auto;
    grid-template-areas: 
    "header header"
    "pixelartIndex infoIndex"
    "indexPortfolio indexPortfolio"
    "footer footer"
    ;
    .header{
        grid-area: header;
        width: 100%;
    }
    .pixelartIndex{
        display: flex;
        min-width: 650px;
        grid-area: pixelartIndex;
        justify-content: end;
        align-items: center;
        .pixelartIndexPadre{
            position: relative;
            video{
                position: relative;
                mix-blend-mode: darken;
                height: 500px;
                animation-name: pixelartIndexVideo;
                animation-timing-function: cubic-bezier(.69,.01,.33,1.11);
                animation-duration: 2s;
                @keyframes pixelartIndexVideo{
                    0%{
                        left: 200px;
                        opacity: 1;
                    }
                    25%{
                        opacity: 1;
                    }
                    50%{
                    }
                    75%{
                    }
                    100%{
                        left: 0px;
                        opacity: 1;
                    }
                }
            }
            .pixelartIndexRectangle{
                position: absolute;
                transform-origin: 0% 0%;
                animation-name: pixelartIndexRectangle;
                animation-timing-function: cubic-bezier(.69,.01,.33,1.11);
                animation-duration: 2s;
                @keyframes pixelartIndexRectangle{
                    0%{
                        transform: scale(0);
                    }
                    25%{
                        opacity: 0;
                    }
                    50%{
                    }
                    75%{
                    }
                    100%{
                        transform: scale(1);
                        opacity: 1;
                    }
                }
            }
            .pixelartIndexElementos1{
                position: absolute;
                top: 120px; left: -140px;
                transform: scale(1);
                transform-origin: 0% 0%;
                animation-name: pixelartIndexElementos1;
                animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                animation-duration: 2.5s;
                @keyframes pixelartIndexElementos1{
                    0%{
                        transform: scale(0.10);
                        transform: translate(-50px, 0px);
                        opacity: 0;
                    }
                    25%{
                    }
                    50%{
                        transform: scale(0.10);
                        transform: translate(-50px, 0px);
                        opacity: 0;
                    }
                    75%{
                    }
                    100%{
                    }
                }
            }
            .pixelartIndexElementos2{
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                top: -100px; left: 40px;
                transform: scale(1);
                transform-origin: 0% 0%;
                .pixelartElementos2Rectangle{
                    height: 6px;
                    width: 100%;
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                    background-color: #6E61FF;
                    animation-name: pixelartElementos2Rectangle;
                    animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                    animation-duration: 2s;
                    @keyframes pixelartElementos2Rectangle{
                        0%{
                            transform: scale(0.10);
                            transform: translate(0px, -20px);
                            opacity: 0;
                        }
                        25%{
                        }
                        50%{
                            transform: scale(0.10);
                            transform: translate(0px, -20px);
                            opacity: 0;
                        }
                        75%{
                        }
                        100%{
                        }
                    }
                }
                .pixelArtIndexIconos{
                    background-color: white;
                    width: 416px;
                    height: 55px;
                    display: flex;
                    animation-name: pixelArtIndexIconos;
                    animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                    animation-duration: 2s;
                    @keyframes pixelArtIndexIconos{
                        0%{
                            transform: scale(0.10);
                            transform: translate(0px, -20px);
                            opacity: 0;
                        }
                        25%{
                        }
                        50%{
                            transform: scale(0.10);
                            transform: translate(0px, -20px);
                            opacity: 0;
                        }
                        75%{
                        }
                        100%{
                        }
                    }
                    .pixelArtIndexIconosList{
                        position: absolute;
                        top: 22px; left: 0px;
                        width: 100%;
                        display: flex;
                        justify-content:space-around;
                        animation-name: pixelArtIndexIconosList;
                        animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                        animation-duration: 2.5s;
                        @keyframes pixelArtIndexIconosList{
                            0%{
                                transform: scale(0.10);
                                transform: translate(0px, -20px);
                                opacity: 0;
                            }
                            25%{
                            }
                            50%{
                                transform: scale(0.10);
                                transform: translate(0px, -20px);
                                opacity: 0;
                            }
                            75%{
                            }
                            100%{
                            }
                        }
                        div{
                            display: flex;
                            align-items: center;
                            .IconsList1{
                                position: absolute;
                                top: 0px; left: 18px;
                                animation-name: IconsList1;
                                animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                                animation-duration: 2.4s;
                                @keyframes IconsList1{
                                    0%{
                                        transform: scale(0.10);
                                        transform: translate(0px, -20px);
                                        opacity: 0;
                                    }
                                    25%{
                                    }
                                    50%{
                                        transform: scale(0.10);
                                        transform: translate(0px, -20px);
                                        opacity: 0;
                                    }
                                    75%{
                                    }
                                    100%{
                                    }
                                }
                            }
                            .IconsList2{
                                position: absolute;
                                top: 0px; left: 74px;
                                animation-name: IconsList2;
                                animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                                animation-duration: 2.5s;
                                @keyframes IconsList2{
                                    0%{
                                        transform: scale(0.10);
                                        transform: translate(0px, -20px);
                                        opacity: 0;
                                    }
                                    25%{
                                    }
                                    50%{
                                        transform: scale(0.10);
                                        transform: translate(0px, -20px);
                                        opacity: 0;
                                    }
                                    75%{
                                    }
                                    100%{
                                    }
                                }
                            }
                            .IconsList3{
                                position: absolute;
                                top: 0px; left: 124px;
                                animation-name: IconsList3;
                                animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                                animation-duration: 2.6s;
                                @keyframes IconsList3{
                                    0%{
                                        transform: scale(0.10);
                                        transform: translate(0px, -20px);
                                        opacity: 0;
                                    }
                                    25%{
                                    }
                                    50%{
                                        transform: scale(0.10);
                                        transform: translate(0px, -20px);
                                        opacity: 0;
                                    }
                                    75%{
                                    }
                                    100%{
                                    }
                                }
                            }
                            .IconsList4{
                                position: absolute;
                                top: 0px; left: 184px;
                                animation-name: IconsList4;
                                animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                                animation-duration: 2.7s;
                                @keyframes IconsList4{
                                    0%{
                                        transform: scale(0.10);
                                        transform: translate(0px, -20px);
                                        opacity: 0;
                                    }
                                    25%{
                                    }
                                    50%{
                                        transform: scale(0.10);
                                        transform: translate(0px, -20px);
                                        opacity: 0;
                                    }
                                    75%{
                                    }
                                    100%{
                                    }
                                }
                            }
                            .IconsList5{
                                position: absolute;
                                top: 0px; left: 251px;
                                animation-name: IconsList5;
                                animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                                animation-duration: 2.8s;
                                @keyframes IconsList5{
                                    0%{
                                        transform: scale(0.10);
                                        transform: translate(0px, -20px);
                                        opacity: 0;
                                    }
                                    25%{
                                    }
                                    50%{
                                        transform: scale(0.10);
                                        transform: translate(0px, -20px);
                                        opacity: 0;
                                    }
                                    75%{
                                    }
                                    100%{
                                    }
                                }
                            }
                            .IconsList6{
                                position: absolute;
                                top: 0px; left: 313px;
                                animation-name: IconsList6;
                                animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                                animation-duration: 2.9s;
                                @keyframes IconsList6{
                                    0%{
                                        transform: scale(0.10);
                                        transform: translate(0px, -20px);
                                        opacity: 0;
                                    }
                                    25%{
                                    }
                                    50%{
                                        transform: scale(0.10);
                                        transform: translate(0px, -20px);
                                        opacity: 0;
                                    }
                                    75%{
                                    }
                                    100%{
                                    }
                                }
                            }
                            .IconsList7{
                                position: absolute;
                                top: 0px; left: 373px;
                                animation-name: IconsList7;
                                animation-timing-function: cubic-bezier(.91,-0.56,.37,1.65);
                                animation-duration: 3s;
                                @keyframes IconsList7{
                                    0%{
                                        transform: scale(0.10);
                                        transform: translate(0px, -20px);
                                        opacity: 0;
                                    }
                                    25%{
                                    }
                                    50%{
                                        transform: scale(0.10);
                                        transform: translate(0px, -20px);
                                        opacity: 0;
                                    }
                                    75%{
                                    }
                                    100%{
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .infoIndex{
        grid-area: infoIndex;
        padding-top: 150px;
        margin-left: 1rem;
        animation-name: infoIndex;
        animation-timing-function: cubic-bezier(.69,.01,.33,1.11);
        animation-duration: 2s;
        @keyframes infoIndex{
            0%{
                opacity: 0;
                transform: translate(-100px);
            }
            25%{
                opacity: 0;
            }
            50%{
            }
            75%{
            }
            100%{
            }
        }
        .infoIndexDesc{
            max-width: 554px;
            min-width: 330px;
        }
    }
    .indexPortfolio{
        grid-area: indexPortfolio;
        margin-top: 102px;
        .indexPortfolioTittle{
            height: fit-content;
            display: flex;
            align-items: center;
            gap: 10px;
            div{
                img{
                    width: 42px;
                    height: 42px;
                }
            }
        }
        .indexPortfolioPrimerFila{
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            margin: 50px 0px 50px 0px;
            .portfolioCard{
                height: fit-content;
                max-width: 552px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: white;
                box-shadow: 14px 11px 0px 0px #6E61FF;
                font-size: 18px;
                .portfolioCardImages{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 40px 0px 0px 0px;
                    gap: 10px;
                    width: 100%;
                    height: fit-content;
                    background: #FFFFFF;
                    border-width: 3px 3px 0px 3px;
                    border-style: solid;
                    border-color: #6E61FF;
                    #carouselIndexHeracles{
                        width: 400px;
                    }
                    #carouselIndexOnix{
                        width: 400px;
                    }
                }
                .portfolioCardBox{
                    display: flex;
                    flex-direction: column-reverse;
                    width: 100%;
                    padding: 20px 40px 20px 40px;
                    border-width: 0px 3px 3px 3px;
                    border-style: solid;
                    border-color: #6E61FF;
                    .portfolioCardDesc{
                        z-index: 2;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        gap: 10px;
                        width: 100%;
                        height: 100%;
                        background: #FFFFFF;
                        overflow: hidden;
                        .portfolioCardDescAtributos{
                            opacity: 0;
                            height: 0px;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            padding: 0px;
                            gap: 8px;
                            transition: all 0.5s;
                            animation-duration: 1s;
                            .portfolioCardDescAtributos1{
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                padding: 4px 10px;
                                gap: 10px;
                                background: #FFFDEB;
                            }
                            .portfolioCardDescAtributos2{
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                padding: 6px 10px;
                                gap: 10px;
                                background: #FFFDEB;
                            }
                        }
                        .portfolioCardDescParrafo{
                            p{
                                opacity: 0;
                                height: 0px;
                                transition: all 0.5s;
                                animation-duration: 1s;
                            }
                        }
                    }
                    /**************************** BOTONES ****************************/
                    .portfolioCardButton{
                        z-index: 3;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 16px;
                        background: #FFFFFF;
                        /******* HERACLES antes del check *******/
                        #btnCardHeraclesAmpliar{
                            transform: translateY(-6px);
                        }
                        #btnCardHeraclesReducir{
                            display: none;
                        }
                        #btnCardHeraclesLeer{
                            display: none;
                        }
                        /******* ONIX antes del check *******/
                        #btnCardOnixAmpliar{
                            transform: translateY(-6px);
                        }
                        #btnCardOnixReducir{
                            display: none;
                        }
                        #btnCardOnixLeer{
                            display: none;
                        }
                    }
                    /******* HERACLES despues del check *******/
                    #btnCardHeracles{
                        display: none;
                        &:checked{
                            ~ .portfolioCardDesc {
                                opacity: 1;
                                transition: all 0.5s;
                                animation-duration: 2s;
                                .portfolioCardDescAtributos{
                                    opacity: 1;
                                    height: 90px;
                                }
                                .portfolioCardDescParrafo{
                                    p{
                                        opacity: 1;
                                        height: 150px;
                                    }
                                }
                            }
                            .button.ampliar{
                                background-color: #6E61FF;
                            }
                            ~ .portfolioCardButton {
                                #btnCardHeraclesAmpliar{
                                    display: none;
                                }
                                #btnCardHeraclesReducir{
                                    display: flex;
                                }
                                #btnCardHeraclesLeer{
                                    display: flex;
                                }
                            }
                        }
                    }
                    /******* ONIX despues del check *******/
                    #btnCardOnix{
                        display: none;
                        &:checked{
                            ~ .portfolioCardDesc {
                                opacity: 1;
                                transition: all 0.5s;
                                animation-duration: 2s;
                                .portfolioCardDescAtributos{
                                    opacity: 1;
                                    height: 90px;
                                }
                                .portfolioCardDescParrafo{
                                    p{
                                        opacity: 1;
                                        height: 150px;
                                    }
                                }
                            }
                            .button.ampliar{
                                background-color: #6E61FF;
                            }
                            ~ .portfolioCardButton {
                                #btnCardOnixAmpliar{
                                    display: none;
                                }
                                #btnCardOnixReducir{
                                    display: flex;
                                }
                                #btnCardOnixLeer{
                                    display: flex;
                                }
                            }
                        }
                    }
                }
                .portfolioCardSliders{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px 10px;
                    gap: 10px;
                    width: 100%;
                    height: 56px;
                    background: #FFFFFF;
                    border-width: 0px 3px 3px 3px;
                    border-style: solid;
                    border-color: #6E61FF;
                    button{
                        position: static;
                        opacity: 1;
                    }
                }
            }
        }
        .indexPortfolioMasTrabajos{
            display: flex;
            justify-content: center;
        }
    }
    footer{
        grid-area: footer;
    }
    
}